<link rel="stylesheet" href="/style.css" />
<link rel="stylesheet" href="/homepage.css" />
<link rel="stylesheet" href="/index-style.css" />
<div class="modal">
	<div class="modal-content">
		<form action="/home/createfolder" method="post">
			<div class="form-field">
				<label
					for="foldername"
					style="
						display: flex;
						align-items: center;
						justify-content: space-between;
					"
					>Folder Name
					<a href="/home">
						<span class="close">&times;</span>
					</a>
				</label>
				<input type="text" name="foldername" id="foldername" required />
				<button type="submit">Create</button>
			</div>
		</form>
	</div>
</div>
