<nav>
	<div class="title">
		<a href="/home">
			<h1>File Uploader</h1>
		</a>
	</div>
	<div class="nav-buttons">
		<button id="folderButton">Create Folder</button>
		<button id="fileButton">Upload File</button>
		<a href="/home/logout"><button>Log Out</button></a>
	</div>
</nav>
