<nav>
	<div class="title">
		<h1>File Uploader</h1>
	</div>
	<div class="nav-buttons">
		<a href="/home/createfolder">
			<button>Create Folder</button>
		</a>
		<a href="/home/uploadfile">
			<button>Upload File</button>
		</a>
		<a href="/home/logout"><button>Log Out</button></a>
	</div>
</nav>
