main {
	display: flex;
	flex: 1;
}

.sidebar,
.content {
	display: flex;
	flex-direction: column;
	padding: 1rem;
}

.sidebar {
	flex: 1;
	border-right: 1rem solid green;
}

.sidebar-header {
	text-align: center;
	padding-bottom: 0.5rem;
	border-bottom: 3px solid black;
}

.content {
	flex: 10;
}

.content-header {
	padding-bottom: 0.5rem;
	border-bottom: 3px solid black;
}
