main {
	display: flex;
	flex: 1;
}

.sidebar,
.content {
	display: flex;
	flex-direction: column;
	padding: 1rem;
}

.sidebar {
	flex: 1;
	border-right: 1.5rem solid green;
}

.sidebar-header {
	text-align: center;
	margin-bottom: 1rem;
}

.folders {
	display: flex;
	flex-direction: column;
}

.folder {
	display: flex;
	justify-content: space-between;
	padding: 1rem 2rem;
}

.folder button {
	padding: 0;
	background-color: initial;
}

.folder svg {
	height: 3rem;
}

.folder svg:hover {
	fill: red;
}

.content {
	flex: 5;
}

.content-header,
.sidebar-header {
	border-bottom: 3px solid black;
}

/* The Modal (background) */
#folderModal {
	display: none;
}

#fileModal {
	display: none;
}

.modal {
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	color: white;
	background-color: green;
	margin: 20% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 30%; /* Could be more or less, depending on screen size */
	border-radius: 1.5rem;
	border: none;
}

/* The Close Button */
.close {
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
