.index-main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10rem;
	height: 90%;
}

.slogan {
	padding: 1rem;
	text-align: center;
}

.slogan h1 {
	color: green;
}

.slogan h3 {
	font-style: italic;
}

.signup-errors {
	position: absolute;
	top: 23%;
}

.login-errors {
	position: absolute;
	top: 29%;
}

.form-field {
	display: flex;
	flex-direction: column;
	font-weight: 700;
	gap: 1rem;
}

.form-field label {
	font-size: 1.7rem;
}

.form-field input {
	border: none;
	border-radius: 1rem;
	padding: 1rem;
	margin-bottom: 1rem;
}

form button {
	width: 100%;
	padding: 0.5rem;
	border-radius: 1rem;
	border: none;
	background-color: white;
	font-size: 1.5rem;
	font-weight: bold;
}

form button:hover {
	background-color: green;
	color: white;
}
